<div class="book delete">
  <h2>Deleting Book </h2>
    <div class="description">
      <p>Are you sure you want to delete?</p>
      <p></p>
      <%= link_to 'Delete', @book, :confirm => "Are you sure?", :method => :delete %>
    </div>

</div>